@import "markdown.css";
@import "highlight.js/styles/atom-one-light.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Helvetica Neue, "Source Code Pro", Arial, Hiragino Sans GB, STHeiti, Microsoft YaHei, serif;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.glow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4),
    0 0 40px rgba(255, 255, 255, 0.2);
}